@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), Inter, sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-display: Poppins;
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.993 0.002 145.563);
  --foreground: oklch(0.187 0.006 156.576);
  --card: oklch(0.971 0.007 151.89);
  --card-foreground: oklch(0.187 0.006 156.576);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.187 0.006 156.576);
  --primary: oklch(0.814 0.238 145.906);
  --primary-foreground: oklch(0.25 0.069 147.451);
  --secondary: oklch(0.939 0.01 155.09);
  --secondary-foreground: oklch(0.25 0.069 147.451);
  --muted: oklch(0.971 0.007 151.89);
  --muted-foreground: oklch(0.545 0.028 150.797);
  --accent: oklch(0.971 0.007 151.89);
  --accent-foreground: oklch(0.22 0.011 151.248);
  --destructive: oklch(0.808 0.103 19.571);
  --border: oklch(0.939 0.01 155.09);
  --input: oklch(0.939 0.01 155.09);
  --ring: oklch(0.729 0.03 151.736);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.993 0.002 145.563);
  --sidebar-foreground: oklch(0.457 0.023 152.305);
  --sidebar-primary: oklch(0.22 0.011 151.248);
  --sidebar-primary-foreground: oklch(0.993 0.002 145.563);
  --sidebar-accent: oklch(0.939 0.01 155.09);
  --sidebar-accent-foreground: oklch(0.22 0.011 151.248);
  --sidebar-border: oklch(0.939 0.01 155.09);
  --sidebar-ring: oklch(0.729 0.03 151.736);
  --destructive-foreground: oklch(0.258 0.089 26.042);
}

.dark {
  --background: oklch(0.22 0.011 151.248);
  --foreground: oklch(0.993 0.002 145.563);
  --card: oklch(0.22 0.011 151.248);
  --card-foreground: oklch(0.993 0.002 145.563);
  --popover: oklch(0.28 0.015 149.314);
  --popover-foreground: oklch(0.993 0.002 145.563);
  --primary: oklch(0.814 0.238 145.906);
  --primary-foreground: oklch(0.187 0.006 156.576);
  --secondary: oklch(0.368 0.017 152.078);
  --secondary-foreground: oklch(0.971 0.007 151.89);
  --muted: oklch(0.28 0.015 149.314);
  --muted-foreground: oklch(0.729 0.03 151.736);
  --accent: oklch(0.368 0.017 152.078);
  --accent-foreground: oklch(0.993 0.002 145.563);
  --destructive: oklch(0.808 0.103 19.571);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.545 0.028 150.797);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.22 0.011 151.248);
  --sidebar-foreground: oklch(0.939 0.01 155.09);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.993 0.002 145.563);
  --sidebar-accent: oklch(0.28 0.015 149.314);
  --sidebar-accent-foreground: oklch(0.993 0.002 145.563);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.457 0.023 152.305);
  --destructive-foreground: oklch(0.258 0.089 26.042);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .heading-xl {
    font-family: Poppins;
    font-weight: 600;
  }
  .heading-lg {
    font-family: Poppins;
    font-weight: 600;
  }
  .heading-md {
    font-family: Poppins;
    font-weight: 600;
  }
  .heading-sm {
    font-family: Poppins;
    font-weight: 600;
  }
}
